#title {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

h1 {
  color: brown;
}

#resources {
  background-color: gray
}

#first, #second, #third, #caption, #captiontwo, #captionthree {
    text-align: center;
}

#question {
    font-style: italic;
}
