#title {
    color: brown;
    text-align: center;
}

h1 {
  color: brown;
}

#resources {
  background-color: gray
}

#first, #second, #third, #caption, #captiontwo, #captionthree {
    text-align: center;
}

#question {
    font-style: italic;
}
