#title {
    color: gray;
    text-align: center;
}

h1 {
  color: gray;
}


#first, #second, #third, #caption, #captiontwo, #captionthree {
    text-align: center;
}

#question {
    font-style: italic;
}
